header {
    display: grid;
    grid-template-columns: [first] 33% [second] 34% [third] 33% [fourth];
    grid-template-rows: [top] 3em [mid] 5em [bot];
}

header #quokka_header 
{
    grid-area: top / first / bot / second;
}

header h1 {
    grid-area: mid / first / bot / second;
}

header h3 {
    grid-area: top / third / mid / fourth;
}

#search_bar {
    grid-area: mid / second / bot / third;
}

header div {
    grid-area: mid / third / bot / fourth;
}

#single_comment{
    display: grid;
    grid-template-rows: [top] 2em [mid] 3em [bot];
    grid-template-columns: [first] 33% [second] 34% [third] 33% [fourth];
}
#single_comment #author{
    grid-area: top / first / mid / second;
}
#single_comment #upvotes{
    grid-area: top / second / mid / third;
}
#single_comment #date{
    grid-area: top / third / mid / fourth;
}
#single_comment #textbody{
    grid-area: mid / first / bot / fourth;
}

form {
    display: grid;
    grid-template-rows: [top] 3em [mid] 3em [midbot] 3em [bot] 3em [extrabot];
    grid-template-columns: [first] 20% [second] auto [third];
}
label[for=uname]{
    grid-area: top / first / mid / second;
}
label[for=psw]{
    grid-area: mid / first / midbot / second;
}
input[type=username]{
    grid-area: top / second / mid / third;
}
input[type=password]{
    grid-area: mid / second / midbot / third;
}
input[type=submit]{
    grid-area: midbot / second / bot / third;
}

#profile_posts{
    grid-area: mid / first / bot / second;
}
#profile_comments{
    grid-area: mid / first / bot / second;
}
body > p{
    margin: 1em 0em;
    padding-right: 0em;
    border-right: 0em;
    width: 3em;
}

body:not(header){
    display: grid;
    grid-template-rows: [top] 20% [mid] auto [midbot] 3em [bot];
    grid-template-columns: [first] 80% [second] auto [third];
}

header{
    grid-area: top / first / mid / third;
}

footer {
    grid-area: midbot / first / bot / third;
    padding-top: 1em;
}

#list_posts{
    grid-area: mid / first / bot / second;
}

.change_psw > {

}


