body {
    background-color: black;
    color: #c0c2b9;
    font-family:  Helvetica, sans-serif;
}

header h1{
    text-align: left;
}
header h2{
    text-align: center;
}
header h3{
    text-align: right;
}
header div{
    text-align: right;
}
#signup{
    text-align: right;
    padding-top: 25px;
}

#single_post{
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: aliceblue;
    border-width: thin;
    margin-bottom: 1.5em;
    text-indent: 0.5em;
}
#single_comment{
    border-left-style: solid;
    border-color: aliceblue;
    border-width: medium;
    margin-bottom: 1.5em;
    text-indent: 0.5em;
    background-color: rgb(24, 24, 24);
}

#single_post h1{
    font-size: 2em;
    margin: 0.3em 0em;
}
#author {
    font-size: 0.8em;
    margin: 0.3em;
}
#single_comment #upvotes{
    margin: 0em;
}

input[type=username], input[type=password]{
    border-style: none;
    background-color: #c0c2b9;
    border-radius: 4px;
    width: 50%;
    height: 50%;
}
input[type=submit]{
    border-radius: 4px;
    width: 10%;
    height: 80%;
}

a:link {
    color: #e59f12;
    text-decoration: none;
}

a:visited {
    color: #755308;
    text-decoration: none;
}