body {
    background-color: rgb(153, 153, 153);
    color:rgb(2, 43, 20);
    font-family:  Helvetica, sans-serif;
}


header #quokka_header{
    margin-left: 0.4em;
}

header #quokka_header img
{
    /*    border: 1px solid DarkOrange;*/
    border-radius: 50%;
    padding: 5px;
    width: 95px;
}
footer{
    position: relative;
    bottom:0;
    width:100%;
}

header #quokka_header img:hover {
    box-shadow: 0 0 2px 1px rgb(16, 116, 12);
}

header h1{
    text-align: left;
}
header h2{
    text-align: center;
}
header h3{
    text-align: right;
}
header #user_action{
    text-align: right;
}
#signup{
    text-align: right;
    padding-top: 25px;
}


#single_post{
    border-top-style: solid;
    border-bottom-style: solid;
    border-color:  rgb(16, 116, 12);
    border-width: medium;
    margin-bottom: 1.5em;
    text-indent: 0.5em;
}
#single_comment{
    border-left-style: solid;
    border-color: rgb(16, 116, 12);
    border-width: thick;
    margin-bottom: 1.5em;
    text-indent: 0.5em;
    background-color:rgb(211, 174, 87);
}

#single_post h1{
    font-size: 2em;
    margin: 0.3em 0em;
}
#author {
    font-size: 0.8em;
    margin: 0.3em;
}
#single_comment #upvotes{
    margin: 0em;
}

input[type=username], input[type=password], input[type=text]{
    padding: 0.1em;
    padding-left: 0.7em;
    border-bottom:2px solid rgb(16, 116, 12);
    border-right: 0cm;
    background-color: rgb(153, 153, 153);
    border-radius: 4px;
    width: 70%;
    height: 60%;
}

a:link {
    color: rgb(16, 116, 12);
    text-decoration: none;
}

a:visited {
    color: rgb(7, 97, 47);
    text-decoration: none;
}

input[type=submit]{
    background-color: rgb(153, 153, 153);
    width: 25%;
    height: 70%;
    border-radius: 12px;
    color:white;
    font-size: 1em;
    border: 2px solid rgb(16, 116, 12);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

input[type=submit]:hover{
    background-color: rgb(16, 116, 12); /* Green */
  color: white;
}

#login > img{
    border-right: 3px solid rgb(7, 97, 47);
    width: 100%;
    height: 100%;
}
#login > img{
    border-right: 3px solid rgb(7, 97, 47);
    width: 100%;
    height: 100%;
}

#register > img{
    border-right: 3px solid rgb(7, 97, 47);
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 850px){
    input[type=submit]{
        width: 5em;
        height: 2em;
    }
}

@media screen and (max-width: 400px){
    input[type=username], input[type=password], input[type=text]{
        width: 15em;
        height: 2em;
    }
}